@mainMenuWidth: 12rem;
@headerHeight: 3.5rem;
@defaultPadding: 1rem;
@defaultBorderWidth: 1px;
@cardFooterHeight: 60px;
@cardImageHeight: 300px;
@cardImageWidth: 200px;
@cardWidth: calc(@cardImageWidth + 2 * @defaultPadding);
@cardHeight: calc(
  @cardImageHeight + @cardHeaderHeight + @cardFooterHeight + 2 * @defaultPadding
);
@cardHeaderHeight: 30px;
@cardHeaderWidth: calc(@cardWidth - 2 * @defaultPadding);
@defaultColor: rgb(250 250 250 / 90%);
@defaultHighlightColor: rgb(200 200 200 / 25%);
@defaultBorder: @defaultBorderWidth solid @defaultHighlightColor;

:root {
  color-scheme: dark;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

html {
  * {
    box-sizing: border-box;
    color: @defaultColor;
    -webkit-text-stroke: 0.5px rgb(0 0 0 / 70%);
    -webkit-text-fill-color: white;
  }

  b {
    -webkit-text-stroke: 0;
  }

  a {
    font-weight: bold;
    -webkit-text-stroke: 0;
  }
}

@font-face {
  font-family: Literata;
  src: url(/shared/assets/fonts/LiterataBook.otf) format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: LiterataBold;
  src: url(/shared/assets/fonts/LiterataBook-Bold.otf) format('opentype');
  font-weight: bold;
}
