<div class="welcome-container">
  <h1>Добро пожаловать на сайт book-play.ru!</h1>

  <p>
    Здесь вы можете <b>бесплатно прослушивать</b> электронные <b>книги</b> в
    формате .<b>fb2</b>, бесплатно и без регистрации.
  </p>

  <p>
    Просто <b>загрузите книгу в формате fb2</b> используя главное меню или
    воспользуйтесь <b>каталогом бесплатных книг</b> (не подлежайщих
    лицензированию).
  </p>

  <p>
    Также, вы можете использовать сайт для бесплатной генерации голосовых айдио
    файлов, используя эту форму.
  </p>
</div>
