<div class="welcome-container">
  <h1>Добро пожаловать на сайт book-play.ru!</h1>

  <p>
    Здесь вы можете <b>бесплатно прослушивать электронные книги</b> в формате
    .<b>fb2</b>, бесплатно и без регистрации.
  </p>

  <p>
    Просто <b>загрузите книгу</b> в формате <b>fb2</b> используя главное меню,
    или воспользуйтесь <a href="/library">библиотекой бесплатных книг</a> (не
    подлежайщих лицензированию).
  </p>

  <p>
    Также, вы можете использовать сайт для бесплатной генерации голосовых айдио
    файлов, используя <a href="/voice">форму озвучки проивольного текста</a>.
  </p>
</div>
