<div class="welcome-container">
  <h1>Добро пожаловать на сайт Book-play.ru!</h1>
  <p><br /></p>

  <fieldset>
    <legend>Бесплатно проигрывать электронные книги</legend>
    Здесь вы можете бесплатно и без регистрации
    <b>проигрывать электронные книги в формате .fb2</b><br />
    Просто <a (click)="runFileUpload()" href="javascript:">загрузите книгу</a> в
    формате .fb2 используя главное меню.
  </fieldset>

  <p><br /></p>
  <fieldset>
    <legend>Библиотека бесплатных книг</legend>
    Воспользуйтесь <a href="/library">библиотекой бесплатных книг</a> (не
    подлежайщих лицензированию) чтобы прослушать примеры озвучки.
  </fieldset>

  <p><br /></p>
  <fieldset>
    <legend>Генерация голосовых аудио файлов</legend>
    Также, вы можете использовать сайт для бесплатной генерации голосовых аудио
    файлов, используя <a href="/voice">форму озвучки проивольного текста</a>.
  </fieldset>
</div>
