@import 'src/app/styles/root';

p {
  cursor: pointer;
  padding: 0 @defaultPadding * 2;
  text-align: justify;
  color: @defaultColor;

  &.active {
    font-weight: bold;

    &:before {
      margin-left: -@defaultPadding;
      content: '\21e8';
    }
  }
}
