@import 'src/app/styles/root';

p {
  cursor: pointer;
  text-align: justify;
  padding: 0 @defaultPadding * 2;

  &:focus {
    font-weight: bold;

    &:before {
      content: '\21e8';
      margin-left: -@defaultPadding;
    }
  }

  &:focus-visible {
    outline: 0;
  }
}
