@import 'src/app/styles/root';

:host {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
  height: @headerHeight;

  img.logo {
    width: 2rem;
    height: 2rem;
  }

  img.title {
    height: 3rem;
  }

  h1 {
    display: inline-block;
    margin: 0;
    white-space: nowrap;
    color: rgb(200 200 200);
  }
}
