<mat-toolbar>
  <main-header (menuClick)="sidenav.toggle()"></main-header>
</mat-toolbar>
<mat-progress-bar
  mode="indeterminate"
  [style.visibility]="
    (loading$ | async) ? 'visible' : 'hidden'
  "></mat-progress-bar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" autoFocus="false" (click)="sidenav.close()">
    <main-menu></main-menu>
    <copyright></copyright>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="background"></div>
    <div class="router-outlet-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
