<mat-toolbar>
  <main-header (menuClick)="sidenav.toggle()"></main-header>
</mat-toolbar>
<mat-progress-bar
  mode="indeterminate"
  [style.visibility]="
    (loadingService.loading$ | async) ? 'visible' : 'hidden'
  "></mat-progress-bar>
<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    [opened]="(openedBook.book$ | async) === null"
    mode="over"
    autoFocus="false"
    (click)="sidenav.close()">
    <main-menu></main-menu>
    <copyright></copyright>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
