@import 'src/app/styles/root';

.library-container {
  padding: 2 * @defaultPadding;

  h1.main {
    h3 {
      display: inline-block;
      margin-left: 1rem;
    }
  }

  h1.letter {
    margin: 0.8rem;
    font-size: 2rem;
  }

  a.book {
    display: block;
  }
}
